<script src="//content.smartdeploy.com/js/forms2/js/forms2.min.js"></script>
<form id="mktoForm_1022"></form>
<script>
    var freeDomains;
    var getDomains =  function (callback) {
        var request = new XMLHttpRequest()
        request.addEventListener('readystatechange', function (e) {
            if (e.target.readyState === 4 && e.target.status === 200) {
                var data = JSON.parse(e.target.responseText);
                callback(undefined, data);
            } else if (e.target.readyState === 4) {
                callback('An error has taken place importing the free domain list', undefined);
            }
        })
        request.open('GET', '/wp-content/themes/aaika/assets/json/linus-email-blacklist.json')
        request.send()
    }

    getDomains( function (error, domains) {
        if (error) {
            console.log('Error: ' + error);
        } else {
            freeDomains = domains;
        }
    })

    function inDomainList (email) {
        return freeDomains
            .map(function(domain){
                return new RegExp('@'+domain+'$','i');
            })
            .some(function(reDomain){
                return reDomain.test(email);
            });
    }

    function checkFreeEmail (form, isFreeEmail) {
        if (isFreeEmail) {
            form.submittable(false);
            var emailElem = form.getFormElem().find('#Email')
            form.showErrorMessage('Must be a valid business email. <span class=\'mktoErrorDetail\'>example@yourcompany.com</span>', emailElem);
        } else {
            form.submittable(true);
        }
    }

    MktoForms2.loadForm("//content.smartdeploy.com", "794-HYU-673", 1022, function (form) {
        form.onValidate(function () {
            var vals = form.vals();
            var isFreeEmail = inDomainList(vals.Email);
            checkFreeEmail(form, isFreeEmail);
        })
    });
</script>